<?php

use Illuminate\Database\Migrations\Migration;
use Illuminate\Database\Schema\Blueprint;
use Illuminate\Support\Facades\DB;
use Illuminate\Support\Facades\Schema;

class CreateAlunosTable extends Migration
{
    /**
     * Run the migrations.
     *
     * @return void
     */
    public function up()
    {
        Schema::create('alunos', function (Blueprint $table) {
            $table->id();            
            $table->char('cpf', 11)->unique('UNIQUE_CPF');
            $table->char('nome', 50)->index('alunos_nome_idx');
            $table->date('nascimento')->index('alunos_nascimento_idx');
            $table->timestamp('dataCadastro')->useCurrent();
            $table->timestamp('dataEdicao')->default(DB::raw('CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP'));
        });
    }

    /**
     * Reverse the migrations.
     *
     * @return void
     */
    public function down()
    {
        Schema::dropIfExists('alunos');
    }
}
