<?php

namespace App\Http\Controllers\Api;

use App\Services\AlunoService;
use Illuminate\Http\Request;

class AlunoController extends BaseController
{
    /**
     * @var AlunoService
     */
    protected $service;
    protected $request = AlunoRequest::class;

    public function __construct(AlunoService $service)
    {
        $this->service = $service;
    }
}
