<?php

namespace App\Http\Requests;

class AlunoRequest extends BaseRequest
{
    public function rules()
    {
        $this->service = $this->getService();

        return [
            'cpf' => 'required|string',
            'nome' => 'required|string|min:15|max:255',
            'nascimento' => 'required|date'
        ];

    }
}
