<?php

namespace App\Services;

use App\Models\Alunos;
use Competi\CompetiLaravel\Services\CrudService;
use Competi\CompetiLaravel\Services\Resposta;

class AlunoService extends CrudService
{
    public function getModel($data = [])
    {
        return new Alunos($data);
    }

    public function deactivate($id)
    {
        $model = $this->getModel()->find($id);
        if (empty($model)) {
            return Resposta::object(false, __('microservices.erros.dados_nao_encontrados'), null, null);
        }        
        $model->delete();
        return Resposta::object(true, null, null, null);
    }
}
