<?php

namespace App\Http\Controllers\Api;

use Competi\CompetiLaravel\Http\Controllers\JsonCrudController;
use Illuminate\Http\Request;
use Illuminate\Support\Facades\Auth;

class BaseController extends JsonCrudController
{
    public function __invoke()
    {
    }

    public function getService()
    {
        return $this->service;
    }

    public function store(Request $request)
    {
        return parent::store($this->formRequest($request));
    }

    public function update(Request $request, $id)
    {
        return parent::update($this->formRequest($request), $id);
    }

    protected function formRequest($request)
    {
        return isset($this->request) ? app($this->request) : $request;
    }

    /*
    TODO: login
    protected function prepareFilters($data)
    {
        $data['empresaId'] = Auth::user()->empresaId;
        return $data;
    }
    */
}
